.leftpanel{
    background-image: url("LeftPanel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    position: relative;
    left: 5px;
}
.bg{
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.intrologo img{
    margin: 5px auto;
    border-radius: 20px;
    border: 5px solid black;
}

/*  Left 2nd    */
.left2{
    border: 5px solid black;
    margin: 10px auto;
}

/* Left 3rd */
.left3{
    color: white;
    background-color: rgba(0,0,0,0.7);
    text-align: justify;
    text-indent: 20pt;
    padding: 5px;
    margin: 10px auto;
    font-family: "Calibri";
    font-size: 17pt;
}

/* Right 1 */
.right1{
    background-image: url("right1.jpg");
    border-radius: 50px;
    border: 5px solid black;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 5px;
}

.right1 img{
    padding-bottom: 5px;
}

.ss{
    color: white;
    font-family: "Calibri";
    font-size: 19pt;
    font-weight: 800;
    background-color: rgba(0,0,0,0.7);
    border: 2px solid white;
    padding: 4px;
}

.reasons{
    color: white;
    background-color: rgba(0,0,0,0.7);
    font-family: "Calibri";
    font-size: 17pt;
    font-weight: 800; 
}