.leftpanel{
    background-image: url("LeftPanel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
}
.bg{
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.intrologo{
    border-radius: 20px;
    border: 2px solid black;
    margin: 5px auto;
    background-color: #b7d7e8;
    padding: 5px;
    font-family: "Harlow Solid Italic";
    font-size: 22pt;
    color: black;
    -webkit-text-stroke-color: #22c3d4;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    height: auto;
}
.intrologo img{
    margin-bottom: 10px;
}

/*  Left 2nd    */
.left2{
    position: relative;
    margin-top: 5px;
    border: 5px solid black;
}
.FT{
    font-size: 22pt;
    position: absolute;
    color: white;
    font-weight: 600;
    left: 150px;
    white-space: nowrap;
}


@font-face{
    font-family: 'Harlow Solid Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Harlow Solid Italic'), url('HARLOWSI_1.woff') format('woff');
    
}